@font-face {
    font-family: 'Abril Fatface';
    font-style: normal;
    font-weight: 400;
    src: local('Abril Fatface'), local('AbrilFatface-Regular'), url(http://fonts.gstatic.com/s/abrilfatface/v8/X1g_KwGeBV3ajZIXQ9VnDjxObtw73-qQgbr7Be51v5c.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
body{
    background:#fff;  
    font-family: 'Open Sans Condensed', sans-serif;
}

body a{
    transition: 0.5s all;
}

ul{
    padding: 0;
    margin: 0;
}

h1,h2,h3,h4,h5,h6,label,p{
    margin:0; 
}

.logo{
    float:left;
}

.logo h1  {
    font-family: 'Raleway', sans-serif;
    font-size: 4em;
    font-weight: 700;
    letter-spacing: 2px;
}

.logo a {
    color: #fff;
    text-decoration:none;
}

.logo a img {
    margin: 0px 4px;
}

.nav-icon {
    float: right;
    margin-top: 1.5em;
}

i.glyphicon.glyphicon-menu-hamburger {
    color: #fff;
    font-size: 2em;
}
/*--banner--*/
.header{
    background:url(../../img/s3.jpg) no-repeat left;
    width:100%;
    background-size:cover;
    min-height:750px;
    display:block;
    padding-top: 1em;
}

.head{
    min-height:89px;
}

body{
    background:#fff;  
    font-family: 'Open Sans Condensed', sans-serif;
}

.navicon {
    background: transparent;
    position: relative;
    height: 30px;
    display: inline-block;
    z-index: 99;
    transition: linear 0.5s all;
    width:50px;
}

.navicon:before, .navicon:after {
    background: #fff;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    content: "";
    height: 2px;
    left: 0;
    transition: 0.8s ease;
    width: 35px;
}

.navicon:before {
    box-shadow: #fff 0 9px 0 0;
    position: absolute;
    top: 0;
}

.navicon:after {
    position: absolute;
    top: 18px;
}

.navicon--active {
    transition: linear 0.5s all;
}

.navicon--active:before {
    box-shadow: transparent 0 0 0 0;
    top: 15px;
    transform: rotate(225deg);
}

.navicon--active:after {
    top: 15px;
    transform: rotate(315deg);
}

.toggle {
    box-shadow: 4px 5px 5px -3px #99ecec;
    display: block;
    margin: 20px auto;
    width: 30%;
    background-color: rgb(66, 49, 26);
    padding: 15px;
    display: block;
    opacity: 0;
    transition: ease-in 0.5s all;
    transform: translateY(-200%);
    position:absolute;
    left:35%;
}

.toggle--active {
    display: block;
    opacity: 1;
    transition: ease-in 0.5s all;
    transform: translateY(0);
    z-index:999;
}


.toggle-menu li {
    width: 25%;
    display: block;
    margin: 10px auto;
}

.toggle-menu li a {
    text-decoration: none;
    color: #fff;
    display: block;
    text-align: center;
    font-size: 17px;
    text-transform: uppercase;
    border-bottom: 2px solid transparent;
    transition: linear 0.5s all;
    font-weight: 500;
    padding: 5px 0;
}

.toggle-menu li a span { text-transform: lowercase; }

.toggle-menu li a:hover,.toggle-menu li a.active {
    color:#97824B;
    border-bottom: 2px solid #97824B;
    transition: linear 0.5s all;
    transform: scale(1.15);
    font-weight: 700;
}
@media(max-width:991px){
    .toggle {
        width: 50%;
        left: 25%;
    }
}
@media(max-width:414px){
    .navicon {
        width: 35px;
    }
    .toggle {
        width: 70%;
        left: 15%;
        padding: 10px;
    }
    .toggle-menu li a {
        font-size: 15px;
    } 
}
/*--banner--*/
.banner{
    text-align:center;
    margin-top: 1em; 
}

.banner h4 {
    color:#fff;
    font-size: 3em;
    border: 2px solid #fff;
    padding: 1em;
    width: 50%;
    margin: 0 auto;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
}

.banner p {
    font-size: 1.2em;
    color: #fff;
    text-transform: uppercase;
}

.banner label {
    width: 78px;
    height: 2px;
    background-color: #fff;
    margin: 2em 0;
}

.down {
    margin-top: 8em;
    display: block;
}

.logo img {
    width: 22%;
}

.logo h3 {
    font-family: abril fatface;
}

.logo a {
    margin-left: 15px;
}

.img-responsive
{
    box-shadow: 2px 5px 5px -3px #333;
}

.log_sig {
    background-color: red;
    color: #fff;
    width: 9%;
    font-size: 21px !important;
    box-shadow: 3px 5px 5px -3px white;
    margin-top: 20px;
}
