/*****************globals*************/
body {
    font-family: 'open sans';
    overflow-x: hidden;
}

img {
    max-width: 100%;
}

.preview {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

@media screen and (max-width: 996px) {
    .preview {
        margin-bottom: 20px;
    }
}

.preview-pic {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.preview-thumbnail.nav-tabs {
    border: none;
    margin-top: 15px;
}

.preview-thumbnail.nav-tabs li {
    width: 18%;
    margin-right: 2.5%;
}

.preview-thumbnail.nav-tabs li img {
    max-width: 100%;
    display: block;
}

.preview-thumbnail.nav-tabs li a {
    padding: 0;
    margin: 0;
}

.preview-thumbnail.nav-tabs li:last-of-type {
    margin-right: 0;
}

.tab-content {
    overflow: hidden;
}

.tab-content img {
    width: 100%;
    -webkit-animation-name: opacity;
    animation-name: opacity;
    -webkit-animation-duration: .3s;
    animation-duration: .3s;
}

.card {
    margin-top: 50px;
    background: #eee;
    padding: 3em;
    line-height: 1.5em;
}

@media screen and (min-width: 997px) {
    .wrapper {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }
}

.details {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.colors {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.product-title, .price, .sizes, .colors {
    text-transform: UPPERCASE;
    font-weight: bold;
}

.checked, .price span {
    color: #ff9f1a;
}

.product-title, .rating, .product-description, .price, .vote, .sizes {
    margin-bottom: 15px;
}

.product-title {
    margin-top: 0;
}

.size {
    margin-right: 10px;
}

.size:first-of-type {
    margin-left: 40px;
}

.color {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    height: 2em;
    width: 2em;
    border-radius: 2px;
}

.color:first-of-type {
    margin-left: 20px;
}

.add-to-cart, .like {
    background: #ff9f1a;
    padding: 1.2em 1.5em;
    border: none;
    text-transform: UPPERCASE;
    font-weight: bold;
    color: #fff;
    -webkit-transition: background .3s ease;
    transition: background .3s ease;
}

.add-to-cart:hover, .like:hover {
    background: #b36800;
    color: #fff;
}

.not-available {
    text-align: center;
    line-height: 2em;
}

.not-available:before {
    font-family: fontawesome;
    content: "\f00d";
    color: #fff;
}

.orange {
    background: #ff9f1a;
}

.green {
    background: #85ad00;
}

.blue {
    background: #0076ad;
}

.tooltip-inner {
    padding: 1.3em;
}

.product-other {
    margin-bottom: 35px;
}

.product-other hr {
    border-top: 3px solid #eee;
}

.product-other-title h2 {
    text-align: center;
    color: red;
    margin-top: -5px;
    text-transform: uppercase;
    font-size: x-large;
    background-color: white;
    margin-bottom: 15px;
}

.product-other-content img {
    width: 255px !important;
    height: 128px !important;
}

.product-other-content h3 {
    text-align: center;
}

/*# sourceMappingURL=style.css.map */

/* Visit http://www.menucool.com/responsive-slider for instructions */

#ninja-slider {
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    padding-top: 30px;
    padding-bottom: 10px;

    margin: 0 auto;
    overflow: hidden;
    box-sizing: border-box;
}

#ninja-slider.fullscreen {
    background: black;
}

#ninja-slider.fullscreen #ninja-slider-prev {
    left: -50px;
}

#ninja-slider.fullscreen #ninja-slider-next {
    right: -50px;
}

#ninja-slider .fs-icon {
    top: 0px;
    right: 0px;
    width: 45px;
    height: 45px;
    background: rgba(0, 0, 0, 0.1) url(/img/fullscreen.png) no-repeat 0 0;
    z-index: 2;
    opacity: 0;
    -webkit-transition: opacity 0.8s;
    transition: opacity 0.8s;
}

#ninja-slider:hover .fs-icon {
    opacity: 1;
}

#ninja-slider.fullscreen .fs-icon {
    background-position: center -45px;
    opacity: 1;
}

#ninja-slider .slider-inner {
    max-width: 700px;
    margin: 0 auto; /*center-aligned*/
    font-size: 0px;
    position: relative;
    box-sizing: border-box;
}

#ninja-slider.fullscreen .slider-inner {
    max-width: 900px;
    max-height: 80%;
}

#ninja-slider ul {
    /*overflow:hidden;*/
    position: relative;
    list-style: none;
    padding: 0;
    box-sizing: border-box;
}

#ninja-slider li {
    background-color: #111;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    font-size: 12px;
    list-style: none;
    margin: 0;
    padding: 0;
    opacity: 0;
    overflow: hidden;
    box-sizing: border-box;
}

#ninja-slider li.ns-show {
    opacity: 1;
}

/* --------- slider image ------- */
#ninja-slider .ns-img {
    background-color: rgba(0, 0, 0, 0.3);
    background-size: contain; /*Note: If transitionType is zoom, it will be overridden to cover.*/

    border-radius: 3px;

    cursor: default;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
}

/* ---------Arrow buttons ------- */
/* The arrow button id should be: slider id + ("-prev", "-next", and "-pause-play") */
#ninja-slider-pause-play {
    display: none;
}

#ninja-slider-prev, #ninja-slider-next {
    position: absolute;
    display: inline-block;
    width: 42px;
    height: 56px;
    line-height: 56px;
    top: 50%;
    margin-top: -28px;
    background-color: rgba(0, 0, 0, 0.4);
    background-color: #ccc \9; /*IE8 hack*/
    backface-visibility: hidden;
    color: white;
    overflow: hidden;
    white-space: nowrap;
    -webkit-user-select: none;
    user-select: none;
    border-radius: 2px;
    z-index: 10;
    opacity: 0.3;
    font-family: sans-serif;
    font-size: 13px;
    cursor: pointer;
    -webkit-transition: all 0.7s;
    transition: all 0.7s;
}

.slider-inner:hover #ninja-slider-prev, .slider-inner:hover #ninja-slider-next {
    opacity: 1;
}

#ninja-slider-prev {
    left: 0;
}

#ninja-slider-next {
    right: 0;
}

/* arrows */
#ninja-slider-prev::before, #ninja-slider-next::before {
    position: absolute;
    top: 17px;
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    border-left: 2px solid white;
    border-top: 2px solid white;
}

#ninja-slider-prev::before {
    -ms-transform: rotate(-45deg); /*IE 9*/
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    backface-visibility: hidden;
    right: 4px;
}

#ninja-slider-next::before {
    -ms-transform: rotate(135deg); /*IE 9*/
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    backface-visibility: hidden;
    left: 4px;
}

/*pagination num within the arrow buttons*/
#ninja-slider-prev div, #ninja-slider-next div {
    display: none;
}

/*------ pager(nav bullets) ------*/
/* The pager id should be: slider id + "-pager" */
#ninja-slider-pager {
    display: none;
}

#ninja-slider-pager, #ninja-slider-prev, #ninja-slider-next, #ninja-slider-pause-play {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
}

/*Responsive settings*/
@media only screen and (max-width: 800px) {

    #ninja-slider-prev, #ninja-slider-next {
        display: none;
    }

    #ninja-slider .fs-icon {
        display: none;
    }
}

/* http://www.menucool.com */

#thumbnail-slider {
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
    transition: transform 0.25s;
    opacity: 0.8;

    margin: 4px auto; /*center-aligned*/
    width: 100%;
    max-width: 780px;
    padding: 0px 40px; /*Gives room for arrow buttons*/
    box-sizing: border-box;
    position: relative;
    -webkit-user-select: none;
    user-select: none;
}

#thumbnail-slider:hover {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
}

#ninja-slider.fullscreen #thumbnail-slider {
    width: 90%;
    max-width: 1120px;
}

#thumbnail-slider div.inner {
    /*the followings should not be changed */
    position: relative;
    overflow: hidden;
    padding: 2px 0;
    margin: 0;
}

#thumbnail-slider div.inner ul {

    /*the followings should not be changed */
    white-space: nowrap;
    position: relative;
    left: 0;
    top: 0;
    list-style: none;
    font-size: 0;
    padding: 0;
    margin: 0;
    float: left !important;
    width: auto !important;
    height: auto !important;
}

#thumbnail-slider ul li {
    opacity: 1;
    overflow: visible;
    display: inline-block;
    *display: inline !important; /*IE7 hack*/
    border: 2px solid #222;
    margin: 0 4px; /* Spacing between thumbs*/
    box-sizing: content-box;

    text-align: center;
    vertical-align: middle;
    padding: 0;
    position: relative;
    list-style: none;
    backface-visibility: hidden;

    transition: all 0.2s;
    -webkit-transform: scale(1);
    transform: scale(1);
}

#thumbnail-slider ul li.active {
    border-color: white;
}

#thumbnail-slider li:hover {
    border-color: rgba(255, 255, 255, 0.7);
}

#thumbnail-slider .thumb {
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    display: block;
    position: absolute;
    font-size: 0;
}

/* --------- Captions ------- */
#thumbnail-slider li > span {
    position: absolute;
    color: rgba(255, 255, 255, 0.7);
    font-size: 22px;
    bottom: 2px;
}

/* --------- navigation controls ------- */
/* The nav id should be: slider id + ("-prev", "-next", and "-pause-play") */

#thumbnail-slider-pause-play {
    display: none;
}

/*.pause*/

#thumbnail-slider-prev, #thumbnail-slider-next {
    position: absolute;
    background-color: none;
    width: 40px;
    height: 50px;
    line-height: 50px;
    top: 50%;
    margin: 0;
    margin-top: -25px;
    color: white;
    z-index: 10;
    cursor: pointer;
    opacity: 1;
    *background-color: #ccc; /*IE7 hack*/
}

#thumbnail-slider-prev {
    left: 0px;
    right: auto;
}

#thumbnail-slider-next {
    left: auto;
    right: 0px;
}

#thumbnail-slider-next.disabled, #thumbnail-slider-prev.disabled {
    opacity: 0.3;
    cursor: default;
}

/* arrows */
#thumbnail-slider-prev::before, #thumbnail-slider-next::before {
    position: absolute;
    top: 15px;
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    border-left: 3px solid #DDD;
    border-top: 3px solid #DDD;
}

#thumbnail-slider-prev::before {
    left: 14px;
    -ms-transform: rotate(-45deg); /*IE9*/
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#thumbnail-slider-next::before {
    right: 14px;
    -ms-transform: rotate(135deg); /*IE9*/
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
}

/*Responsive settings*/
@media only screen and (max-width: 736px) {
    #thumbnail-slider {
        padding: 0;
    }

    #thumbnail-slider-prev, #thumbnail-slider-next {
        display: none;
    }
}

.quantity {
    width: 70px;
    color: red;
    background: #eeeeef;
    text-align: center;
}