a:hover {
    color: black !important;
}

body {
    background: whitesmoke !important;
}

.img-responsive {
    border-radius: 50%;
    width: 150px !important;
    height: 150px !important;
    margin: auto;
    margin-top: 5%;
}

/*.img-avata-icon .edit-icon {*/
/*line-height: 35px;*/
/*text-transform: capitalize;*/
/*display: none;*/
/*margin-top: -90px;*/
/*margin-left: 110px;*/
/*z-index: 1;*/
/*}*/

.edit-icon {
    text-align: center;
    margin-top: 12px;
    margin-bottom: 24px;
    text-transform: capitalize;
    cursor: pointer;
}

.fullname h2 {
    text-align: center;
    text-transform: uppercase;
    margin-top: 15px;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 1.2em;
}

.background_user {
    border: 1px solid #a49f9f;
    box-shadow: 0px 5px 5px -5px #333;
    background-color: #f4f4f4;
    margin: 15px 0px;
    margin: 0 auto;
    margin-top: 30px;
}

.list-group-item {
    padding: 10px 15px 20px 5px;
}

.fix-profile-bottom {
    margin-bottom: 20px;
}

.user-profile {
    margin: 40px auto;
}

.background_user {
    background-color: #efefef;
    border: 1px solid #d6d6d6;
}

.list-group-item {
    padding: 21px;
}

.weight-title {
    font-weight: 900;
}

td {
    text-align: center;
    font-size: 18px !important;
    vertical-align: middle !important;
}

.table thead tr th {
    font-size: 17px !important;
    font-weight: bold !important;
}

.glyphicon {
    color: green;
    font-size: 25px;
}

.status-order {
    border: 1px solid #c7c7c7;
    box-shadow: 2px 4px 2px -2px #333;
    overflow: auto;
    height: 400px;
}

#myTab {
    margin-top: 52px;
    border: 1px solid #b9b9b9;
}

.title-thongtindonhang {
    color: #424040;
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    margin-top: 33px;
    border-bottom: 2px solid #333;
    padding-bottom: 10px;
}

.list-group-item {
    background: whitesmoke !important;
    word-wrap: break-word;
}

.pull-left {
    padding-right: 10px;
}

.pull-left {
    font-weight: 900;
}

.pull {
    font-weight: 900;
}

.edit {
    margin-bottom: 25px;
}

/*Modal avatar*/

.modal-content {
    background-color: whitesmoke;
}

.modal-header h4 {
    text-transform: capitalize;
    font-weight: 900;
}

.image-upload {
    margin-bottom: 20px;
}

#tabs {
    overflow: hidden;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}

#tabs li {
    float: left;
    margin: 0 .5em 0 0;
}

#tabs a {
    position: relative;
    background: #ddd;
    background-image: linear-gradient(to bottom, #fff, #ddd);
    padding: .7em 3.5em;
    float: left;
    text-decoration: none;
    color: #444;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .8);
    border-radius: 5px 0 0 0;
    box-shadow: 0 2px 2px rgba(0, 0, 0, .4);
}

#tabs a:hover,
#tabs a:hover::after,
#tabs a:focus,
#tabs a:focus::after {
    background: #fff;
}

#tabs a:focus {
    outline: 0;
}

#tabs a::after {
    content: '';
    position: absolute;
    z-index: 1;
    top: 0;
    right: -.5em;
    bottom: 0;
    width: 1em;
    background: #ddd;
    background-image: linear-gradient(to bottom, #fff, #ddd);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .4);
    transform: skew(10deg);
    border-radius: 0 5px 0 0;
}

#tabs #current a,
#tabs #current a::after {
    background: #fff;
    z-index: 3;
}

#content {
    background: whitesmoke;
    padding: 2em;
    height: 450px;
    position: relative;
    z-index: 2;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 0 -2px 3px -2px rgba(0, 0, 0, .5);
}

#submit_photo {
    font-size: 1.2em;
}

.media-object {
    width: 150px;
    height: 150px;
    float: left;
}

.media-body {
    width: 265px !important;
    padding-top: 19% !important;
}

.modal-header {
    text-align: center;
    font-size: 1.3em !important;
}

.modal-body label {
    margin-left: 5px;
    margin-bottom: 5px;
}

@media (min-width: 768px) {
    .order {
        width: 45% !important;
    }
}