.sidebar {
    margin-right: 35px;
}

.img-responsive {
    border-radius: 50%;
    width: 300px !important;
    height: 250px !important;
}

/*.img-avata-icon .edit-icon {*/
/*line-height: 35px;*/
/*text-transform: capitalize;*/
/*display: none;*/
/*margin-top: -90px;*/
/*margin-left: 110px;*/
/*z-index: 1;*/
/*}*/

.edit-icon {
    text-align: center;
    margin-top: -30px;
    margin-bottom: 30px;
    text-transform: capitalize;
}

.fullname h2 {
    color: red;
    text-align: center;
    text-transform: uppercase;
    margin-top: 15px;
    margin-bottom: 10px;
    letter-spacing: 2px;
}

.background_user {
    border: 1px solid #a49f9f;
    box-shadow: 0px 5px 5px -5px #333;
    background-color: #f4f4f4;
    margin: 15px 0px;
    margin: 0 auto;
    margin-top: 30px;
}

.list-group-item {
    padding: 10px 15px 20px 5px;
}

.fix-profile-bottom {
    margin-bottom: 20px;
}

.user-profile {
    margin: 40px auto;
}

.background_user {
    background-color: #efefef;
    border: 1px solid #d6d6d6;
}

.list-group-item {
    padding: 21px;
}

.weight-title {
    font-weight: 900;
}

.status-order {
    border: 1px solid #c7c7c7;
    box-shadow: 2px 4px 2px -2px #333;
    overflow: auto;
    height: 350px;
}

#myTab {
    margin-top: 52px;
    border: 1px solid #b9b9b9;
}

.title-thongtindonhang {
    color: #424040;
    text-align: center;
    font-size: 35px;
    text-shadow: 0px 5px 4px #9c8a8a;
    margin-top: 33px;
    border-bottom: 2px solid #333;
    padding-bottom: 10px;
}

.list-info {
    box-shadow: 2px 4px 2px -2px #333;
}

.pull-left {
    font-weight: 900;
}

.pull {
    font-weight: 900;
}

.edit {
    margin-bottom: 25px;
}
/*Modal avatar*/

.modal-content {
    background-color: #f0ad4e;
}

.modal-header h4 {
    color: #0d6aad;
    text-transform: capitalize;
    font-weight: 900;
}

.image-upload {
    margin-bottom: 20px;
}
