.text {
    width: 100%;
    margin-top: 10%;
    font-size: 5em;
    font-weight: bold;
    text-align: center;
}

body {
    background: white !important;
}

a:hover {
    color: black !important;
}