/*body*/
.nav-fix-header {
	min-height: 900px ;
}
/*manage food */
.fix-img {
	width: 160px;
}

.table_food {
	padding-left: 55px !important;
	padding-top: 44px !important;
}

/*manage drink*/

.table_drink {
	padding-left: 55px !important;
	padding-top: 44px !important;
}

/*edit_food*/

.edit_food {
	color:red;
}

.fix-width-edit-food {
	width: 890px;
}